<div>
  <h1 class="flex justify-center p-5">All Posts</h1>
  <%= render 'shared/root'%>
  <%= render 'users/profile', user: @user%>
  <%@user.posts.each do |post|%>
    <%= link_to user_post_path(@user, post) do%>
      <div class="flex flex-col border mt-5 mb-1 pl-3 ">
        <h3 class="mt-2 mb-2"><%=post.title%> #<%=post.id%></h3>
        <div class="flex justify-between  p-2">
        <%end%>
        <p class="mt-2 mb-2"><%=post.text%></p>
        <span>💬 <%=post.comments_counter%> 👍 <%=post.likes_counter%>
          <%= link_to "🗑", user_post_path(@user, post), 
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, 
          class: "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-1 rounded" 
          %>
          </span>
      </div>
    </div>
    <div class="border pl-3 mb-5">
      <%post.recent_five_comments.each do |comment|%>
        <div class="flex justify-between mt-2 mb-2">
          <p><%=comment.author.name%>: <%=comment.text%></p>
          <%= link_to "🗑", user_post_comment_path(@user, post, comment),
          data: { turbo_method: :delete, turbo_confirm: "Are you  sure?"},
          class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-2 rounded" 
          %>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
